body{
   background-image: url(../img/lago.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

   font-family: 'Segoe UI';
}

#card{
   width: 32%;
   margin: 100px auto;
   padding: 1.25%;
   text-align: center;
   background-color: rgb(224, 224, 224);
}

.email{
   width: 60%;
   margin: 10px;
   padding: 10px;
   border: 1px solid silver;
}

.button{
   width: 60%;
   margin-bottom: 10px;
   padding: 10px;
   border: none;
   background-color: rgb(43, 43, 255);
   color: aliceblue;
   font-weight: 600;
}

div a{
   text-decoration: none;
   color:  rgb(43, 43, 255);
   
}

div h1{
   color: rgb(59, 58, 58);
   font-weight: 300;
   
}

div{
   margin: 5px 0px 5px 0px;
}

